<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.stuwang.edupal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edupal</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CCZU Schedule Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.stuwang.edupal.schedule-package</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.stuwang.edupal.schedule-package</string>
			<key>UTTypeDescription</key>
			<string>CCZU Schedule Package</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cczuschedule</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.cczu.schedule+json</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>jwqywx.cczu.edu.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>sso.cczu.edu.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>wxxy.cczu.edu.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsWriteOnlyUsageDescription</key>
	<string>需要写入日历以同步课程安排。</string>
	<key>NSSiriUsageDescription</key>
	<string>需要使用 Siri 来语音查询课表、成绩和考试安排。</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>龙城学伴</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>常大助手</string>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>GetScheduleIntent</string>
		<string>GetExamScheduleIntent</string>
		<string>GetGradesIntent</string>
		<string>GetGPAIntent</string>
		<string>GetTodayScheduleIntent</string>
		<string>GetTomorrowScheduleIntent</string>
		<string>GetNextClassIntent</string>
		<string>HasClassTodayIntent</string>
		<string>OpenScheduleIntent</string>
		<string>OpenGradesIntent</string>
		<string>com.stuwang.edupal.schedule-share</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.stuwang.edupal.refresh-live-activity</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
